body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
}

.starter-template h1, h2 {
  text-align: center;
  margin-bottom: 50px;
}

.starter-template .row {
  margin-bottom: 10px;
}

.starter-template .row .title {
  font-weight: bold;
}

.starter-template .count {
  margin: 30px 0px 70px;
}

.logo {
  width: 30%;
  margin: 0 auto 50px;
}

.result {
  margin: 50px 0;
}

.count .all {
  margin-top: 20px;
}

#first, #second, #third, #info, #but {
  display: none;
}
#info .tit{
  margin-bottom: 30px;
  font-size: 16px;
}

#but{
  margin-top: 30px;
}
#res p, #st p{
  text-align: right;
}

#info h2 {
  font-weight: bold;
  text-align: center;
}

#btnExport{
  margin-top: 30px;
}
th{
  background-color: #fff;
}
#dataTable table,th,td{
  border: 1px solid #888888;
}

#fs, #sc, #th{
    background-color: #d6d6d6;
}

#tt, th{
    background-color: #bcbcbc;
}
#win{
  background-color: #45b849;
}

col{
  min-width: 250px;
  background-color: rgba(214, 214, 214, 0.4);
  margin-right: 5px;
}

thead{
    background-color: #999999;
}

colgroup {
    display: table-column-group;
}
#datatable{
    margin: 40px;
}